div.container {}

/*button*/
.m-button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;    border: 0;
    cursor: pointer;
    outline: 0;
    height: 50px;
    width: 100%;
    padding: 8px 10px 8px 10px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border-radius: 4px
}

.m-button.secondary{
    color: #fff;
    background-color: #fe042f;
    text-decoration: none;
    
}

.m-button.inverted, .m-button.secondary:hover{
    color: #f53a3c;
    background-color: #ffffff;
    border: 1px solid rgb(245, 60, 62);
    text-decoration: none;    
}

.m-button.secondary:hover{
    color: #f53a3c;
    background-color: #ffffff;
    border: 1px solid rgb(245, 60, 62);
    text-decoration: none;    
}




/*header*/
.navbar-inverse
{
    background-color: #FFFFFF;
    border-color: #dedede;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.1);*/
}

.navbar
{
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-brand > img
{
    display: block;
    width: 100px;
}

.navbar-brand
{
    height: inherit;
}

.navbar-nav > li > a
{
    padding: 22px;
    border-left: 1px solid #dedede;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus
{
    color: #f53d3e;
    background-color: transparent;
}


/*middle*/

.main-slider{
    display: block;
    position: relative;
    margin-bottom: 0px;
}

.main-slider .bx-wrapper{
    margin-bottom: 0px;
}

.bx-wrapper{
    border: 0px;
    margin-bottom: 30px;
}

.main-search
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 103px;
    margin: auto;
    z-index: 1;
}
.main-search h1{
    color: #f53c3e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 20px;
}

.main-search .search-area{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 70px;
    padding-right: 70px;
    width: 700px;
    position: absolute;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    float: none;
    margin: auto;
    position: inherit;
}

.input-group{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


.input-group .form-control{
    border-radius: 4px 0px 0px 4px;
    padding: 11px 12px;
    height: inherit;
}

.input-group-btn .btn{
    padding: 11px 40px;
    height: inherit;
    border-radius: 0px 4px 4px 0px;
    background-color: #f53b3d;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

/*event-list*/
.categories-icon-background{
    margin: 0px;
}
.popular-categories{
    padding: 30px 70px;
    background: #f9f9f9;
}

.popular-categories h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-top: 0px
}

.categories-background{
    display: inline-block;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #6733d1;
    border-radius: 50px;
}

.categories-background .icon-categories{
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    height: 90px;
    -moz-border-radius: 50px;
    border-radius: 50px;

}

.content-upcoming
{
    display: block;
    padding-right: 8px;
    padding-left: 8px;
}

.content-upcoming h2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 0px;
    color: #292d36;
    margin-top: 50px;
}

.content-upcoming .thumbnail:hover{
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.content-upcoming .thumbnail{
    padding: 0px;
    margin-bottom: 30px;
}

.content-upcoming .thumbnail a{
    text-decoration:none;
}


.content-upcoming .poster-card .poster-card-body { 
    padding: 15px;
    margin: 0px;
    text-align: left;

}

.content-upcoming .poster-card .poster-card-body .poster-card__date{ 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: #45494E;
    font-size: 10px;
    line-height: 18px;
    height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}

.content-upcoming .poster-card .poster-card-body .poster-card__title{ 
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #282C35;
    font-size: 16px;
    line-height: 20px;
    max-height: 38px;
    letter-spacing: 0;
    padding: 0;
    height: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 16px;}

.content-upcoming .poster-card .poster-card-body .poster-card__venue{ 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #666A73;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.content-upcoming .poster-card-footer{ 
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-right: 80px;
    border-top: 1px solid #EFF2F5;
    padding-left: 15px;
}

.content-upcoming .poster-card-footer .poster-tags{ 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.content-upcoming .poster-card-footer .poster-tags a{ 
    color: #45494E;
    font-size: 12px;
    margin-right: 10px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.content-upcoming .poster-card-footer .poster-share .event-share{ 
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    line-height: 38px;
}

.content-upcoming .poster-card-footer .poster-share i{ 
    display: inline-block;
    color: #666A73;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-left: 1px solid #dddddd;
    box-sizing: border-box;
    text-align: center;
    padding: 12px;
}

.content-upcoming .poster-card .poster-card-header .poster-card-image img{ 
    padding: 0px;
    max-width: 100%;
    height: 193px;
}

.mobile-left{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.mobile-left h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-top: 50px;
}


.display-flex{
    padding-top: 0;
}

#howitworks .box{
    border: 1px solid #dbdbdb;
    background-color: #fff;
    margin-bottom: 60px;
    padding: 20px;
}

#howitworks .box h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

#howitworks .box p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #666A73;
}



/*footer*/
.banner-footer {
    padding: 100px 0;
    background: url(../img/footer-banner-bg.jpg) no-repeat center center;
    background-size: cover;
  }

.banner-footer h2 {
    padding-top: 4px;
    padding-bottom: 9px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
}

.banner-footer .banner-social-buttons {
    float: right;
    margin-top: 0;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    padding: 0px;
    margin: 0px;
}

.banner-social-buttons .btn-lg {
    background-color: #7042d6;
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: white;
}


footer {
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #FDFDFF;
    clear: left;
    text-align: center;
    margin-top: 0px;
}

footer a{
    color: black
}


/*categories-page*/
.category-sidebar{
    display: flex;
    flex-flow: column wrap;
    border-color: rgba(51, 51, 51, 0.2);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 20px 30px 20px 30px;
    text-align: left;
}

.category-sidebar .filter-date{
    color: rgb(245, 65, 67);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.category-sidebar .sidebar-filter-title{
    color: rgb(51, 51, 51);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.category-sidebar .sidebar-date-title{
    color: rgb(114, 67, 214);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}

.category-page .category-title-page{
    color: rgb(51, 51, 51);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    display: block;
    padding: 0px 0px 6px;
    text-align: left;
}


/*details-page*/
.description-section{
    padding: 0px;
    background: linear-gradient(#f1f2f3, white);    
}
    
.description{
    padding-left: 25px;
}

.description-background .background img{
    height: 500px;
    object-fit: cover;
    position: relative;
    left: 0px;
    width: 1268px;
    filter:grayscale(100%);
}

.details-main .body-details{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 5px 0px 20px rgba(0,0,0, .2);
    margin-top: -450px;
    position: relative;
}

.main-image{
    border-color: rgba(51, 51, 51, 0.2);
    border-width: 1px;
    border-radius: 5px;
    padding: 0px;
}

.main-image img{
    width: 100%;
}

.main-description{
    text-align: left;
    padding-right: 40px;
}

.main-description p{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: -5px;
}

.description-category{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 145px;
    margin-bottom: 0px;
    color: #f54243;}

.description-category p{
    margin: 0 0 30px;
}


.main-description span{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 24px;
}

.main-description h1{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-top: -5px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
}

.main-description .description-title{
    margin-top: 39px;
}

.description-price p{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: 132px;
    background: #f54243;
    border-radius: 4px;
    margin-right: 260px;
    padding: 3px;
}

.description-share .event-share{ 
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    line-height: 38px;
}

.description-share .event-share i{ 
    display: inline-block;
    color: #666A73;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-left: 1px solid #dddddd;
    box-sizing: border-box;
    text-align: center;
    padding: 12px;
}

.action-btn .join-btn{
    border-style: solid;
    border-width: 1px;
    min-width: 80px;
    border-color: transparent;
    background-color: rgb(245, 60, 62);
    width: auto;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description-action{
    display: flex;
    align-content: flex-start;
    padding: 0px;
    border-top: 1px solid #D2D6DF;
    border-bottom: 1px solid #D2D6DF;
    background-color: white;
    margin-right: 0px;
    margin-left: 0px;
}
 
.description-price .price-icon{
    position: absolute;
}

.description-price{
    margin-right: 14px;
}

.description-price .price-icon{
    position: absolute;
    margin-top: 25px;
}

.description-price .price-text{
    position: absolute;
    margin-left: 40px;
    margin-top: 26px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #f5484b;
}

.description-action-btn{
    padding: 11px;
}

.description-action-btn span{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 7px;
}


.description-main-body .description-event{
    text-align: left;
    padding-right: 40px;
}

.description-main-body .description-event .event-title{
    margin-top: 24px;
    margin-bottom: 6px;
    line-height: 1.43;
}

.description-main-body .description-event .event-title span{
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-size: 21px;}


.description-main-body .description-event .event-detail{
    margin-top: 12px;
    line-height: 24px;
}

.description-main-body .description-event .event-detail p{    
    color: rgba(51, 51, 51, 0.8);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;}

.description-main-body .description-event .event-tag{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 12px -6px 0px;
    align-content: flex-start;
}

.description-main-body .description-event .event-tag span{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.event-info .event-location{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 18px 12px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    margin-bottom: 15px;
}

.event-info .event-location span{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.event-info .event-date{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    padding: 18px 12px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    margin-bottom: 24px;
}

/*create-page*/
.body-create{
    background: #ffffff;
    border: 1px solid #d2d6df;
    border-radius: 4px;
    margin-top: 30px;
}

.body-create .body-create-form{
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 30px;

}

.body-create .create-title{
    display: flex;
    align-content: flex-start;
    padding: 0px;
    border-bottom: 1px solid #D2D6DF;
    background-color: white;
    height: 70px;
    margin-right: -15px;
    margin-left: -15px;
}

.body-create .create-form-title{
    margin: 20px 0px 0px 0px;
    border-bottom: 1px solid grey;
}

.body-create .create-form-title span{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.create-title .create-event-title{
    text-align: left;
    margin-top: 18px;
    color: rgb(51, 51, 51);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.create-title .create-action-btn{
    padding: 0px 13px 0px 70px;
    margin-top: 9px;
}


.body-create .main-create .main-create-form{
    color: rgba(51, 51, 51, 0.8);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.body-create .main-about{
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
}





    
    



    

